<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>eSHOP</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/titlemenu.css' %}">
        <main>
            <h1>eSHOP</h1>
            <p>Home of simple online shopping</p>
            <h2></h2>
            <ol>
                <li></li>
                <li></li>
                <li></li>
        
            </ol>
            <li></li>
        </main>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>