body {background-color:rgb(238, 18, 18);margin:0;padding:0;; background-size: cover; background-repeat: no-repeat;}
header {background-color:#222; border-bottom: 2px solid #ccc;}
main {display: block;background-color: rgba(128, 128, 128, 0.3); color: #eee; padding: 0.5rem 2rem;}
nav  {padding: 0.5rem 0;}
a {color: #f00}
a:hoover {color: #f99;text-decoration: none; border-bottom: 3px solid #f00;}
header ul li {display:inline-block;margin:0 0.5rem;}
aside {float:right; background-color: #359; width: 30%;; background-size:  cover; border: 1px solid #ccc; border-radius: 10px;}
header img {max-height:  20px;}
.sarasas2 {color: #aaf;}